build/landing4.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landingpage 4</title>
  <link href="./css/landing4.css?90b00c252f0d5b0893d9" rel="stylesheet"></head>
  <body>
    <div class="background"></div>
    <main class="l-dark">
      <header class="header">
        <h1>Julens kredittkort</h1>
        <p>
           Curabitur nec nulla id lectus mollis vehicula ac sit amet urna. 
          Nulla facilisi. Ut vitae ipsum vitae dolor iaculis dapibus. 
          Mauris aliquam convallis magna nec condimentum. Aenean hendrerit urna non elit facilisis tincidunt. 
          Pellentesque rutrum iaculis tellus non commodo. Suspendisse tortor lorem, posuere ac porttitor in, commodo id lectus. 
          Vestibulum eget felis in dolor tempor accumsan. Curabitur et purus leo. Suspendisse potenti.
        </p>
      </header>
      <section class="boxes--container">   
        <article class="box l-highlight" data-highlight-text="Best choice"><span class="box--img l-green"><img src="images/NO_VIP_white.png"></span>
          <div class="box--content">
            <p class="box--subtitle">Kredittkort</p>
            <p><strong>Kreditt 100.000 kr.</strong></p>
            <ul>
              <li>9 måneders betalingsutsettelse</li>
              <li>25 millioner brukersteder</li>
              <li>Ingen årsavgift</li>
            </ul>
          </div><a class="box--btn" href="#" target="_blank">Søk om Kredittkort </a>
        </article>
        <article class="box"><span class="box--img l-blue"><img src="images/NO_normal2_white.png"></span>
          <div class="box--content">
            <p class="box--subtitle">Kredittkort</p>
            <p><strong>Kreditt 100.000 kr.</strong></p>
            <ul>
              <li>9 måneders betalingsutsettelse</li>
              <li>25 millioner brukersteder</li>
              <li>Ingen årsavgift</li>
            </ul>
          </div><a class="box--btn" href="#" target="_blank">Søk om Kredittkort</a>
        </article>
        <article class="box"><span class="box--img l-yellow"><img src="images/NO_normal3.png"></span>
          <div class="box--content">
            <p class="box--subtitle">Kredittkort</p>
            <p><strong>Kreditt 100.000 kr.</strong></p>
            <ul>
              <li>9 måneders betalingsutsettelse</li>
              <li>25 millioner brukersteder</li>
              <li>Ingen årsavgift</li>
            </ul>
          </div><a class="box--btn" href="#" target="_blank">Søk om Kredittkort</a>
        </article>
        <article class="box"><span class="box--img l-green"><img src="images/NO_normal_white.png"></span>
          <div class="box--content">
            <p class="box--subtitle">Kredittkort</p>
            <p><strong>Kreditt 100.000 kr.</strong></p>
            <ul>
              <li>9 måneders betalingsutsettelse</li>
              <li>25 millioner brukersteder</li>
              <li>Ingen årsavgift</li>
            </ul>
          </div><a class="box--btn" href="#" target="_blank">Søk om Kredittkort</a>
        </article>
      </section>
      <section class="banks--container">
        <ul>
          <li><img src="images/mylender.png" title="mylender"></li>
          <li><img src="images/fellow-finance.png" title="fellow-finance"></li>
          <li><img src="images/svea.png" title="svea"></li>
          <li><img src="images/euroloan.png" title="euroloan"></li>
          <li><img src="images/cash-buddy.png" title="cash-buddy"></li>
          <li><img src="images/halino.png" title="halino"></li>
          <li><img src="images/nordax-bank.png" title="nordax-bank"></li>
          <li><img src="images/santander.png" title="santander"></li>
          <li><img src="images/instabank.png" title="instabank"></li>
          <li><img src="images/aasa.png" title="aasa"></li>
          <li><img src="images/monobank.png" title="monobank"></li>
          <li><img src="images/avida-finans.png" title="avida-finans"></li>
          <li><img src="images/credigo.png" title="credigo"></li>
          <li><img src="images/ostosraha.png" title="ostosraha"></li>
          <li><img src="images/lainaamo.png" title="lainaamo"></li>
          <li><img src="images/resursbank.png" title="resursbank"></li>
          <li><img src="images/bigbank.png" title="bigbank"></li>
          <li><img src="images/credento.png" title="credento"></li>
          <li><img src="images/komplett-bank.png" title="komplett-bank"></li>
          <li><img src="images/collector-bank.png" title="collector-bank"></li>
        </ul>
      </section>
    </main>
  <script type="text/javascript" src="js/vendor.js?90b00c252f0d5b0893d9"></script><script type="text/javascript" src="js/landing4.js?90b00c252f0d5b0893d9"></script></body>
</html>

source/pages/landing4/landing4.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Landingpage 4
    
    body
        .background
        
        main.l-dark
            
            header.header
                h1 Julens kredittkort
                p 
                    | Curabitur nec nulla id lectus mollis vehicula ac sit amet urna. 
                    | Nulla facilisi. Ut vitae ipsum vitae dolor iaculis dapibus. 
                    | Mauris aliquam convallis magna nec condimentum. Aenean hendrerit urna non elit facilisis tincidunt. 
                    | Pellentesque rutrum iaculis tellus non commodo. Suspendisse tortor lorem, posuere ac porttitor in, commodo id lectus. 
                    | Vestibulum eget felis in dolor tempor accumsan. Curabitur et purus leo. Suspendisse potenti.
            
            section.boxes--container    
                
                article.box.l-highlight(data-highlight-text="Best choice")
                    span.box--img.l-green
                        img(src=require("./logos/NO_VIP_white.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort 
                
                article.box
                    span.box--img.l-blue
                        img(src=require("./logos/NO_normal2_white.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort
                
                article.box
                    span.box--img.l-yellow
                        img(src=require("./logos/NO_normal3.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort
                
                article.box
                    span.box--img.l-green
                        img(src=require("./logos/NO_normal_white.png"))
                    .box--content
                        p.box--subtitle Kredittkort
                        p
                            strong Kreditt 100.000 kr.
                        ul
                            li 9 måneders betalingsutsettelse
                            li 25 millioner brukersteder
                            li Ingen årsavgift
                    a.box--btn(href="#", target="_blank") Søk om Kredittkort
            
            section.banks--container
                - var banks = [
                -       'mylender', 'fellow-finance', 'svea', 'euroloan', 'cash-buddy',
                -       'halino', 'nordax-bank', 'santander',
                -       'instabank', 'aasa', 'monobank', 'avida-finans', 'credigo', 'ostosraha',
                -       'lainaamo', 'resursbank', 'bigbank', 'credento', 'komplett-bank',
                -       'collector-bank'
                -   ]
                ul
                    each bank in banks
                        li
                            img(src=require("./banks/"+ bank +".png"), title=bank)
